/* @tailwind base;
@tailwind components;
@tailwind utilities; */
#root{
  margin: auto;
}
*,
::before,
::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Times New Roman', Times, serif; */
}
label{
  font-size: 20px;
  font-weight: 500;
  
}
html,
body{
  height: 100%;
  width: 100%;
  
}

body{
  /* display: flex;
  justify-content: center;
  align-items: start; */
}

.container{
  background-color: #fff;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(68, 68, 90, 1);
  margin: 8rem auto;
}

.container h1{
  margin-bottom: 10px;
  font-size: xx-large;
  font-weight: bold;
  
}

.container form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container div{
  display: flex;
  flex-direction: column;
  align-items: start;  
}

.container input{
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.container input::placeholder{
  font-size: 12px;
  font-style: italic;
}

button{
  background-color: rgb(67, 138, 196);
  border: none;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;

}